    <nav class="nav">
        <div class="nav-header">
            logo

            <button type="button" class="toggle-btn">menu</button>
        </div>


            <ul class="links">
                <li>
                    <a href="/">Home</a>
                </li>

                 <li>
                    <a href="/rides">Rides</a>
                </li>

                 <li>
                    <a href="/enthusiasts">Enthusiasts</a>
                </li>


                  <% if(name) { %>
          <a href="/logout">Logout</a>
       <% } else { %>
            <div>
                <a href="/register">Register</a>
                <a href="/login">Login</a>
            </div>
        <% } %>
        
                
            </ul>
    </nav>
