<link rel="stylesheet" href="/css/enthusiast.css">

<div class="banner">
    banner
</div>


<section>
    

   <% if(data != null) { %>
        <h1> <%- data.name %> </h1>
   <% } else { %>
       <h1>not found</h1>
   <% } %>


</section>