<link rel="stylesheet" href="/css/enthusiasts.css">


<div class="banner">
    banner
</div>


<section>

   <% if(data.length > 0 ) { %>
       <div class="enthusiasts-container">
       <%  data.forEach(enthusiast => { %>
           <a href="/enthusiast/<%- enthusiast.id %>" class="enthusiast">
             <h1> <%= enthusiast.name %> </h1>
           </a>
      <% }) %>
        </div>
   <% } else { %>
       <h1>No enthusiasts found</h1>
   <% }  %>
  

</section>