<link rel="stylesheet" href="/css/home.css">



<div class="banner">
    <div>
        <h3>Built for motor enthusiasts</h3>
        <p>
            Upload, share and comment on car pictures on this platform.
        </p>

        <a href="/submit-ride">
            <button>Submit your ride</button>
        </a>
    </div>


    <div class="banner-image-container">
        <img src="/images/noride.jpg" alt="car" width="100%"  class="banner-image">
    </div>


</div>


<!-- container -->
<div class="container">
    container
   <%- name %>
</div>


<script src="/js/home.js"></script>
