<link rel="stylesheet" href="/css/login.css">

<section>
    

   
   <h4>Feels good to see you again</h4>

      
   <% if( error_msg != "") { %>
<div class="alerts-container">
    <p class="success"> <%=  error_msg %> </p>
   </div>
   <% }  %>


   <% if(success_msg != "") { %>
<div class="alerts-container">
    <p class="error"> <%= success_msg %> </p>
   </div>
   <% }  %>

     <form action="login" method="post">

        <!-- email -->
        <div class="form-control">
            <label for="email">Email</label>
            <input type="email" name="email" id="email" placeholder="your email" class="form-input" required>
        </div>

        <!-- password -->
        <div class="form-control">
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="your password" class="form-input">
        </div>

        <div class="btn-container">
            <button type="submit">Login</button>

            <small>Dont have an account? <span><a href="/register">Register</a></span> </small>
        </div>
    </form>

</section>