/* .loading{
  min-height: 100vh;
  display: grid;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #090;
  padding-top: 5rem;
  z-index: 999;
}
.hide-loading{
    display: none;
} */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 300px;
    background: #fff;
    padding: var(--padding-lg);
}
.banner h3{
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 1.5rem;
}
.banner p{
    margin-bottom: 10px;
    font-size: 1.3rem;
    text-align: center;
}
.banner button{
    background: royalblue;
    color: #fff;
    border: transparent;
    cursor: pointer;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
}
.banner-image-container{
    width: 50%;
    height: 250px;
    overflow: hidden;
}
.banner-image{
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 20px 60px 5px 10px;
}
.container{
    padding: var(--padding-lg);
}


@media screen  and (max-width: 650px) {
    .banner{
        padding: var(--padding-sm);
        flex-direction: column-reverse;
    }
    .banner h3{
        text-align: center;
    }
    .banner-image-container{
        width: 80%;
        margin: 20px 0;
    }
    .banner-image{
        border-radius: 40px;
    }
    .banner div {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
    .container{
        padding: var(--padding-sm);
    }
}
